.item{
    width: 100%;
    margin: auto;
    height: 60px;
    font-size: 23px;
    background: #fff;
    border-radius: 10px;
    margin-top: 30px;
    color: #424242;
    margin-bottom: 3px;
}

.item:hover{
    background: #BDBDBD;
    
}

.close{
    color: #ff453a;
}

.profileIcoWrapper{
    margin: auto;
    height: 120px;
    width: 120px;
    border-radius: 50%;
    background: linear-gradient(90deg, rgba(254,132,15,1) 0%, rgba(251,71,112,1) 100%);
    /* border: 7px solid #424242; */
}

#profileIco{
    color: white;
    font-size: 80px;
    margin-top: 15px;
    margin-left: 25px;
}

#profileBtn{
    height: 60px;
    width: 60px;
    background: linear-gradient(90deg, rgba(254,132,15,1) 0%, rgba(251,71,112,1) 100%);
    border-radius: 15px;
    margin-left: 15px;

}

#profileBtn:hover{
    background: linear-gradient(90deg,rgba(251,71,112,1) 0%, rgba(254,132,15,1) 100%);

}

#profileBtnIco{
    color: white;
    font-size: 30px;
    margin-top: 15px;
    margin-left: 0px;
}

#userDisplayName{
    display: inline-block;
    margin: auto;
    color: #424242;
    font-weight: 500;
    font-size: 40px;
    margin-top: 5px;
}

#displaynameWrapper{
    text-align: center;
    margin: auto;
    margin-bottom: 20px;
}

#backButton{
    display: inline-block;
    font-size: 40px;
    color: #ff453a;
}

#changePasswordDialogContent{
    background: white;
    border-radius: 20px;
    padding: 50px;
}

#dialogTitle{
    display: inline-block;
    margin: 0;
    margin-bottom: 40px;
    text-align: center;
    color: black;
    font-size: 36px;
    font-weight: 500;
    width: 90%; 
}

#submitBtn{
    background: linear-gradient(45deg, #2196F3 30%, #21CBF3 90%);
    width: 100%;
    border-radius: 20px;
    font-size: 20px;
    margin-top: 10px;
    color: white;
}