.sidebarLink{
    width: 100%;
    height: 50px;
    margin-top: 20px;
    margin-right: 0px;
    margin-left: 5px;
    border-radius: 40px;
    text-align: left;
    padding-bottom: 25px;
    cursor : context-menu;
    color: #b8b4cc;
    
}

.sidebarLinkActive{
    font-weight: 600;
    color: #6f32ff;
    width: 90%;
    height: 50px;
    margin-left: auto;
    margin-right: 0px;
    margin-top: 20px;
    text-align: left;
    padding-bottom: 25px;
    cursor : context-menu;
    border-right: 3px solid #6f32ff;
    
}


.sidebarLink:hover{
    background: rgba(250, 250, 250, 0.25);
}


.sidebarLinkText{
    margin-left: 10px;
}

