.sidebarLink{
    background: #2CA8FF;
    width: 90%;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    border-radius: 40px;
    text-align: left;
    padding-bottom: 15px;
    cursor : context-menu;
    color: #fff;
    
}

.sidebarLinkActive{
    font-weight: 600;
    color: #2CA8FF;
    background: rgb(248, 248, 248);
    width: 90%;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    border-radius: 40px;
    text-align: left;
    padding-bottom: 15px;
    cursor : context-menu;
    -webkit-box-shadow: 0px 7px 13px -2px rgba(0,0,0,0.35);
       -moz-box-shadow: 0px 7px 13px -2px rgba(0,0,0,0.35);
            box-shadow: 0px 7px 13px -2px rgba(0,0,0,0.35);
    
}


.sidebarLink:hover{
    background: rgba(250, 250, 250, 0.25);
}


.sidebarLinkText{
    margin-left: 10px;
}

