#newTagTextField{
    display: inline-block;
    width: 400px;
}

#newTagTextFieldHidden{
    display: none;
}

#newTagSave{
    font-size: 25px;
    margin-left: 15%;
    display: inline-block;
}

#newTagSave:hover{
    color: #1A237E;
}

#newTagSaveHidden{
    display: none;
}

#newTagParagraph{
    display: inline;
}

#newTagParagraphHidden{
    display: none;
}