#contact{
    width: 85%;
    margin: auto;
    border-radius: 15px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
    margin-bottom: 10px;
    transition: 0.2s;
    height: 85px;
    background: linear-gradient(90deg, rgba(254,132,15,1) 0%, rgba(251,71,112,1) 100%);
    color: white;
    
}





#contact:hover{
    transition: 0.2s;
    transform: scale(1.05);
}

#selectIco{
    font-size: 60px;
    color: #1A237E;
    margin-top: 15px;
    margin-left: 23.5px;
}

#userImage{
    
    object-fit: contain;    
}

.upload-btn-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
  }
  
  .imgPreview {
   
    font-weight: bold;
    border-radius: 50%;
    height: 100px;
    width: 100px;
  }
  
  .upload-btn-wrapper input[type=file] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
  }

