#contact{
    width: 85%;
    margin: auto;
    border-radius: 15px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
    margin-bottom: 10px;
    transition: 0.2s;
    height: 85px;
}

#contact:hover{
    transition: 0.2s;
    transform: scale(1.05);
}
